<article>
  <header class="header">
    <h1><%= @recipe.title %></h1>
  </header>
  <div class="content">
    <%= simple_format @recipe.instructions %>
  </div>
</article>

<% if @recipe.created_by.try(:id) === current_user.id %>
  <%= link_to '<i class="icon-edit"></i>'.html_safe + ' Edit recipe', edit_recipe_path(@recipe), class: 'btn btn-small' %>
  <%= link_to '<i class="icon-trash"></i>'.html_safe + ' Delete', recipe_path(@recipe), method: 'delete', confirm: "Are you sure?", class: 'btn btn-small' %>
<% end %>